@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import 'tailwindcss';

:root {
  font-family: 'Geist Mono', monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'ss01', 'ss02', 'cv01', 'cv02', 'cv03', 'cv04';
}

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900;
  }

  .heading {
    @apply text-xl font-extrabold;
  }
}
