@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import 'tailwindcss';

:root {
  font-family: 'Geist Mono', monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'ss01', 'ss02', 'cv01', 'cv02', 'cv03', 'cv04';
}

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900;
  }

  .heading {
    @apply text-xl font-extrabold;
  }

  .card-outer {
    @apply bg-zinc-100 border border-zinc-300 rounded-lg p-1;
  }

  .card-inner {
    @apply bg-white border border-zinc-300 rounded-md h-full w-full shadow-lg overflow-hidden;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome, Safari */
  }
  .hide-scrollbar {
    -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
    scrollbar-width: none; /* Hides scrollbar in Firefox */
  }
}
